<style>
   
</style>
{% extends 'base.html' %}
{% block content %}
<div class="container mt-8">
  <div class="row align-items-center">
    <!-- Column 1: Image -->
    <div class="col-md-6 img-box">
      <img src="/static/img/WhatsApp Image 2025-06-19 at 11.55.37_69c92bcf.jpg" alt="Profile Photo" style="width: 100%;height: 600px;">
    </div>

    <!-- Column 2: About Info -->
    <div class="col-md-6">
        <h1>Purella Manohar Sri Venkat</h1>
      <h2>About Me:</h2>
      <p>I am a highly motivated Full Stack Developer with a strong foundation in both front-end and back-end technologies. I specialize in creating responsive and user-friendly web applications using tools like HTML, CSS, JavaScript, React, Python, Flask, and MySQL. My passion lies in building scalable systems, solving real-world problems through code, and continuously learning emerging technologies. I thrive in collaborative environments and take pride in writing clean, maintainable, and efficient code. Whether it's designing intuitive UIs or optimizing database queries, I ensure that every part of the application works seamlessly together.</p>
      <h2>🎯 What I Do?</h2>
        <p>1.Build responsive and mobile-friendly user interfaces</p>

        <p>2.Design and integrate RESTful APIs</p>

        <p>3.Manage databases with secure and optimized queries</p>

        <p>4.Troubleshoot and debug full-stack application issues</p>

        <p>5.Work collaboratively in team projects using version control</p>
    </div>
  </div>
</div>
{% endblock %}
